.next
node_modules
.env
.env.local
.git
.gitignore
README.md
docker-compose.yml
docker-compose.prod.yml
Dockerfile
.dockerignore
out
build
dist
.vercel
.vscode
.idea
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
