openapi: 3.1.0
info:
  title: GSTD Sovereign AI Platform API
  description: |
    Decentralized AI inference, federated learning, and compute marketplace on TON blockchain.
    
    **Quick Start:**
    1. Set Base URL: `https://api.gstdtoken.com/v1`
    2. Generate API Key in the Dashboard (Sovereign Switch → API Gateway)
    3. Use `Authorization: Bearer gstd_...` header
    
    Compatible with OpenAI SDK, Cursor, VS Code, LangChain, and any tool supporting OpenAI API format.
  version: 2.0.0
  contact:
    name: GSTD Platform
    url: https://app.gstdtoken.com
  license:
    name: MIT

servers:
  - url: https://api.gstdtoken.com/v1
    description: Production Gateway
  - url: https://app.gstdtoken.com/api/v1
    description: Platform API

security:
  - BearerAuth: []
  - SessionToken: []

paths:
  # ====== INFERENCE (OpenAI Compatible) ======
  /chat/completions:
    post:
      tags: [Inference]
      summary: Chat Completions (OpenAI Compatible)
      description: |
        Send messages and receive AI responses. Supports streaming (SSE) and speculative decoding.
        Drop-in replacement for OpenAI API.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [model, messages]
              properties:
                model:
                  type: string
                  enum: [qwen2.5-coder:7b, qwen2.5-coder:32b, llama3.1:8b, llama3.3:70b, gstd-fast, gstd-sovereign, gstd-ultra]
                messages:
                  type: array
                  items:
                    type: object
                    properties:
                      role: { type: string, enum: [system, user, assistant] }
                      content: { type: string }
                stream: { type: boolean, default: false }
                speculative: { type: boolean, default: false, description: "Enable speculative decoding (draft+verify)" }
                temperature: { type: number, default: 0.7 }
                max_tokens: { type: integer }
      responses:
        '200':
          description: Chat completion response
        '402':
          description: Insufficient GSTD balance (Zero-Balance-Gate)
        '403':
          description: Blocked by Silicon Guardrails

  /models:
    get:
      tags: [Inference]
      summary: List Available Models
      responses:
        '200':
          description: List of available models

  # ====== SECURITY ======
  /security/stats:
    get:
      tags: [Security]
      summary: Guardrails Statistics
      description: View security filter statistics (violations, blocks, defense layers)
      responses:
        '200': { description: Security statistics }

  /security/register-key:
    post:
      tags: [Security]
      summary: Register Sovereign Key (Ed25519)
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                public_key_hex: { type: string, description: "Ed25519 public key in hex" }
      responses:
        '200': { description: Key registered }

  # ====== FEDERATED LEARNING ======
  /federated/stats:
    get:
      tags: [Federated Learning]
      summary: Brain Network Statistics
      description: View federated learning stats (contributions, brain updates, privacy params)
      responses:
        '200': { description: Federated learning statistics }

  /federated/submit:
    post:
      tags: [Federated Learning]
      summary: Submit LoRA Weight Update
      description: |
        Submit a LoRA weight update from your worker node. 
        Differential Privacy noise is automatically applied.
        When consensus threshold (10 updates) is reached, a Brain Update is triggered.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                node_id: { type: string }
                model_name: { type: string }
                rank: { type: integer, default: 4 }
                task_count: { type: integer }
                performance_gain: { type: number }
                layer_updates: { type: array, items: { type: object } }
      responses:
        '200': { description: Update accepted }

  # ====== MARKETPLACE ======
  /marketplace/tasks:
    get:
      tags: [Marketplace]
      summary: Browse Available Tasks
      responses:
        '200': { description: List of tasks }

  /market/buy-gstd-x402:
    post:
      tags: [Marketplace]
      summary: Buy GSTD (x402 Protocol)
      description: Autonomous agent payment protocol. Returns 402 with TON transaction payload.
      responses:
        '402': { description: Payment Required with transaction details }

  # ====== PIPELINE PARALLELISM ======
  /pipeline/status:
    get:
      tags: [Infrastructure]
      summary: Pipeline Network Status
      description: View distributed inference pipeline capacity (nodes, VRAM, supported models)
      responses:
        '200': { description: Pipeline status }

  /pipeline/register:
    post:
      tags: [Infrastructure]
      summary: Register GPU Node for Pipeline
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                node_id: { type: string }
                vram_mb: { type: integer }
                gpu_model: { type: string }
                region: { type: string }
      responses:
        '200': { description: Node registered }

  # ====== MOBILE COMPUTE ======
  /mobile/stats:
    get:
      tags: [Mobile]
      summary: Mobile Mining Network Stats
      responses:
        '200': { description: Mobile compute statistics }

  /mobile/start:
    post:
      tags: [Mobile]
      summary: Start Mobile Mining Session
      description: |
        Energy-aware mining. Requires: charging, WiFi, battery temp <40°C, battery >20%.
      responses:
        '200': { description: Session started }

  # ====== DATA AIRLOCK ======
  /airlock/stats:
    get:
      tags: [Privacy]
      summary: Data Airlock Statistics
      description: GDPR/FZ-152 compliant sandboxed execution statistics
      responses:
        '200': { description: Airlock statistics }

  /airlock/create:
    post:
      tags: [Privacy]
      summary: Create Sandboxed Computation Session
      description: |
        Data Airlock: user data never leaves their jurisdiction.
        A sandbox is sent TO the data, only results + ZK-proof come out.
      responses:
        '200': { description: Airlock session created }

  # ====== OPENCLAW BRIDGE ======
  /openclaw/rpc:
    post:
      tags: [OpenClaw]
      summary: JSON-RPC 2.0 for Robots
      description: |
        Standard JSON-RPC interface for ClawHub.ai robotic agents.
        Methods: claw.register, claw.heartbeat, claw.getAvailableTasks, claw.claimTask, claw.submitResult, claw.think, claw.vision
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                jsonrpc: { type: string, const: "2.0" }
                method: { type: string }
                params: { type: object }
                id: { type: [string, integer] }
      responses:
        '200': { description: JSON-RPC response }

  # ====== RECYCLING POOL ======
  /recycling/stats:
    get:
      tags: [Economy]
      summary: Token Recycling Pool Statistics
      description: Closed-loop economy stats (93% to miners, 2% gold reserve, 5% burned)
      responses:
        '200': { description: Pool statistics }

  # ====== HEALTH ======
  /health:
    get:
      tags: [System]
      summary: Platform Health Check
      responses:
        '200': { description: System health status }

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: "GSTD API Key (gstd_...)"
    SessionToken:
      type: apiKey
      in: header
      name: X-Session-Token
      description: "Session token from wallet login"

tags:
  - name: Inference
    description: OpenAI-compatible chat completions with sovereign LLMs
  - name: Security
    description: Silicon Guardrails — prompt injection defense, Ed25519 signing
  - name: Federated Learning
    description: Collective Memory — LoRA weight aggregation with differential privacy
  - name: Marketplace
    description: Agent Registry & Task Bazaar
  - name: Infrastructure
    description: Pipeline Parallelism, Node Management
  - name: Mobile
    description: Background Mining with NPU/GPU acceleration
  - name: Privacy
    description: Data Airlock — GDPR/FZ-152 compliant sandboxed execution
  - name: OpenClaw
    description: JSON-RPC bridge for ClawHub.ai robotic agents
  - name: Economy
    description: Token Recycling Pool, Golden Reserve, Burn mechanics
  - name: System
    description: Health checks and platform status
